body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
header{
    padding-top: 35px;
    padding-left: 50px;
    color: whitesmoke;
    background-image: url(prothomalo-english_2021-07_3f4eefef-a188-4e28-949a-dbd17a326219_11.webp); 
    background-size: cover;
    padding-bottom: 15%;
    background-repeat: no-repeat;
    
}
.text h1{
    font-weight: 800;
    font-size: 55px;
    padding-left: 20px;
    
}
.text p{
    font-size: 20px;
    color: white;
}
.button{
    border-radius: 5px;
    background-color: crimson;
    border: 0ch;
    padding: 10px 15px;
    color: aliceblue;
    font-weight: 700;
    margin-left: 27px;
    font-size: 15px;
}
.sec2 {
    padding-top: 10%;
    display: flex;
    padding-bottom: 10%;
}
.div1{
    padding-right: 5%;
    padding-left: 10%;
    font-size: 25px;
}
.div2{
    padding-top: 35px;
    padding-left: 30px;

}
.sec3{
    display: flex;
    padding-bottom: 7%;
}
.video{
    padding-left: 10%;
}
.div3{
    padding-right: 10%;
}
.sec4{
    text-align: center;
    font-size: 25px;
    padding-bottom: 30px;
}


.dflx{
    display: flex;
    border: 1px solid black;
    width: 35%;
    background-color: rgb(248, 211, 223);
    border: 0ch;
    border-radius: 5px;
    padding-right: 35px;
    padding-left: 35px;
    
}
#position{
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 35px;
    
}
#positionhp{
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
    
}
.flxon{
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    padding-left: 40px;
   padding-right: 40px;
   padding-bottom: 30px;
}

.lil{
    padding-top: 55px;
    padding-bottom: 10%;
    display: flex;
    justify-content: space-evenly;
    padding-right: 30px;
    padding-left: 30px;
    
}

.btx{
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 30%;
    padding-bottom: 30px;
}
.btx h3,p, a{
    padding-left: 30px;
}

.btx a{
    color: red;
    font-weight: 800;
    font-size: 20px;
}
.btx img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.lastfx{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
}
.bold {
     font-family: 'Dancing Script', cursive; 
     font-size: 20px;
    padding-left: 20px;
}
footer{
    text-align: center;
    background-color: black;
    color: red;
    padding-top: 10px;
    padding-bottom: 10px;
}